<!doctype html>
<html>
<head> 
	<title>Functional Groups - Reaction Map</title>
	<link rel="stylesheet" href="../static/reactionMap.css">
</head>

<body>

<div class="container">
	<div class = "navbar-container">
		<nav class="navbar">
			<a class="navlink" href = "reactionMapHome.html"><b>Home</b></a>
			<a class="navlink" href = "reactionMapFunctionalGroups.html"><b>Functional Groups</b></a>
			<a class="navlink"><b>RnC</b></a>
			<a class="navlink"><b>Mechanisms</b></a>
			<a class="navlink" href = "reactionMapQATests.html"><b>QA Tests</b></a>
		</nav>
		<form method = "GET" action = "test" class = "navsearch">
			<input type = "text" placeholder = "Search for a page" name = "search" class = "navsearch-input" required>
			<input type = "submit" class = "navsearch-submit" value = "Search">
		</form>
	</div>
	
	<div class="title-container">
		<h1>Functional Groups</h1>
		<p>Placeholder text</p>
	</div>
	
	<div class = "info-preview-all-container">
		<a class = "info-preview-container" href="reactionMapAlkanes.html">
			<h3>Alkanes</h3>
			<p>Contains the C-C bond</p>
		</a>
		<a class = "info-preview-container">
			<h3>Placeholder 2</h3>
			<p>Test</p>
		</a>
		<a class = "info-preview-container">
			<h3>Placeholder 3</h3>
			<p>Test</p>
		</a>
		<a class = "info-preview-container">
			<h3>Placeholder 4</h3>
			<p>Test</p>
		</a>
	</div>
</div>

</body>
</html>
