<!doctype html>
<html>
<head> 
	<title>QA Tests - Reaction Map</title>
	<link rel="stylesheet" href="../static/reactionMap.css">
</head>

<body>

<div class="container">
	<div class = "navbar-container">
		<nav class="navbar">
			<a class="navlink" href = "reactionMapHome.html"><b>Home</b></a>
			<a class="navlink" href = "reactionMapFunctionalGroups.html"><b>Functional Groups</b></a>
			<a class="navlink"><b>RnC</b></a>
			<a class="navlink"><b>Mechanisms</b></a>
			<a class="navlink" href = "reactionMapQATests.html"><b>QA Tests</b></a>
		</nav>
		<form method = "GET" action = "test" class = "navsearch">
			<input type = "text" placeholder = "Search for a page" name = "search" class = "navsearch-input" required>
			<input type = "submit" class = "navsearch-submit" value = "Search">
		</form>
	</div>
	
	<div class="title-container">
		<h1>QA Tests</h1>
		<p>Placeholder text</p>
	</div>
	
	<div class = "table-container">
		<h3>Tests for Gases</h3>
		<table>
			<tr><th id = "qa-target">Gas</th><th id = "qa-test">Test & Result</th></tr>
			<tr>
				<td>Ammonia</td>
				<td>Pungent gas enolved turns damp red litmus paper blue</td>
			</tr>
			<tr>
				<td>Carbon Dioxide</td>
				<td>Gas evolved gives a white precipitate with limewater</td>
			</tr>
			<tr>
				<td>Hydrogen</td>
				<td>Gas evolved relights glowing split with a "pop" sound</td>
			</tr>
						<tr>
				<td>Chlorine</td>
				<td>Gas evolved bleached damp litmus paper</td>
			</tr>
			<tr>
				<td>Sulfur Dioxide</td>
				<td>Gas evolved decolourises aqueous potassium permanganate</td>
			</tr>
						<tr>
				<td>Oxygen</td>
				<td>Gas evolved relights a glowing split</td>
			</tr>
						<tr>
				<td>Nitrogen Dioxide</td>
				<td>Brown gas evolved</td>
			</tr>
		</table>
	</div>
	
	<div class = "table-container">
		<h3>Tests for Anions</h3>
		<table>
			<tr><th id = "qa-target">Anion</th><th id = "qa-test">Test & Result</th></tr>
			<tr>
				<td>Carbonate</td>
				<td>Reacts with dilute acids to produce carbon dioxide gas, which gives a white precipitate in limwater</td>
			</tr>
			<tr>
				<td>Chloride</td>
				<td>Gives a white precipitate with silver nitrate, which is soluble in ammonua</td>
			</tr>
			<tr>
				<td>Bromide</td>
				<td>Gives a pale cream precipitate with silver nitrate, which is partially soluble in ammonia</td>
			</tr>
			<tr>
				<td>Iodide</td>
				<td>Gives a yellow precipitate with silver nitrate, which is insoluble in ammonia</td>
			</tr>
			<tr>
				<td>Nitrate</td>
				<td>Reacts with hydroxide and aluminium to produce ammonia gas upon heating</td>
			</tr>
			<tr>
				<td>Nitrite</td>
				<td>Reacts with dilute acid to produce nitrogen dioxide gas<br>Reacts with hydroxide and aluminium to produce ammonia gas upon heating</td>
			</tr>
			<tr>
				<td>Sulfate</td>
				<td>Gives a white precipitate with barium nitrate</td>
			</tr>
			<tr>
				<td>Sulfite</td>
				<td>Reacts with dilute acid to produce sulfur dioxide gas</td>
			</tr>
		</table>
	</div>
	
	<div class = "table-container">
		<h3>Tests for Cations</h3>
		<table>
			<tr>
				<th id = "qa-target">Cation</th>
				<th id = "qa-test">Sodium hydroxide</th>
				<th id = "qa-test">Ammonia</th>
			</tr>
			<tr>
				<td>Magnesium</td>
				<td>White precipitate, insoluble in excess</td>
				<td>White precipitate, insoluble in excess</td>
			</tr>
			<tr>
				<td>Aluminium</td>
				<td>White precipitate, soluble in excess to give colourless solution</td>
				<td>White precipitate, insoluble in excess</td>
			</tr>
			<tr>
				<td>Zinc</td>
				<td>White precipitate, soluble in excess to give colourless solution</td>
				<td>White precipitate, soluble in excess to give colourless solution</td>
			</tr>
			<tr>
				<td>Chromium (III)</td>
				<td>Grey-green precipitate, soluble in excess to give dark green solution</td>
				<td>Grey-green precipitate, insoluble in excess</td>
			</tr>
			<tr>
				<td>Copper (II)</td>
				<td>Blue precipitate, insoluble in excess</td>
				<td>Dark blue solution</td>
			</tr>
			<tr>
				<td>Iron (II)</td>
				<td>Green precipitate rapily turns red-brown upon contact with air, insoluble in excess</td>
				<td>Green precipitate rapily turns red-brown upon contact with air, insoluble in excess</td>
			</tr>
			<tr>
				<td>Iron (III)</td>
				<td>Red-brown precipitate, insoluble in excess</td>
				<td>Red-brown precipitate, insoluble in excess</td>
			</tr>
			<tr>
				<td>Manganese (VII)</td>
				<td>Off-white precipitate rapidly turns brown on contact with air, insoluble in excess</td>
				<td>Off-white precipitate rapidly turns brown on contact with air, insoluble in excess</td>
			</tr>
			<tr>
				<td>Calcium</td>
				<td>White precipitate (with high concentration), insoluble in excess</td>
				<td>No precipitate</td>
			</tr>
			<tr>
				<td>Barium</td>
				<td>No precipitate</td>
				<td>No precipitate</td>
			</tr>
			<tr>
				<td>Ammonium</td>
				<td>No precipitate, ammonia gas produced on heating</td>
				<td>-</td>
			</tr>
		</table>
	</div>
	
	<div class = "additional-info-container">
		<h3>Additional Tests</h3>
		<p><b>Junction Test</b> - React magnesium, manganese or zinc ions with ammonia to give precipitate. Then, add ammonium chloride, causing the precipitate to dissolve due to the shift in equilibria.</p>
		<p><b>Copper Iodide Test</b> - React copper (II) ions with potassium iodide. This forms a brown solution and a cream precipitate.</p>
		<p><b>Sodium Carbonate Test</b> - React any metal cation with a charge of 3+ with sodium carbonate, which will form carbon dioxide gas.</p>
	</div>
	
<div>

<body>
<html>
