<!doctype html>
<html>
<head>
	<title>Alkanes - Reaction Map</title>
	<link rel="stylesheet" href="../static/reactionMap.css">
</head>
<body>
	
<div class = "container">
	<div class = "navbar-container">
		<nav class="navbar">
			<a class="navlink" href = {{url_for("home")}} ><b>Home</b></a>
			<a class="navlink" href = {{url_for("functionalGroups")}}><b>Functional Groups</b></a>
			<a class="navlink" href = {{url_for("reagentsConditions")}}><b>RnC</b></a>
			<a class="navlink" href = {{url_for("mechanisms")}}><b>Mechanisms</b></a>
			<a class="navlink" href = {{url_for("qaTests")}}><b>QA Tests</b></a>
		</nav>
		<form method = "GET" action = "test" class = "navsearch">
			<input type = "text" placeholder = "Search for a page" name = "search" class = "navsearch-input" required>
			<input type = "submit" class = "navsearch-submit" value = "Search">
		</form>
	</div>
	
	<div class="title-container">
		<h1>Alkanes</h1>
		<p>Placeholder text</p>
	</div>
	
	<div class = "reactionmap-container">
		<div class = "reactants-container">
			<a class = "reaction-container" href = "reactionMapHome.html">
				<h3>Placeholder 1</h3>
				<p>Test</p>
			</a>
			<a class = "reaction-container" href = "reactionMapFunctionalGroups.html">
				<h3>Placeholder 1</h3>
				<p>Test</p>
			</a>
			<a class = "reaction-container" href = "reactionMapFunctionalGroups.html">
				<h3>Placeholder 1</h3>
				<p>Test</p>
			</a>
			<a class = "reaction-container" href = "reactionMapFunctionalGroups.html">
				<h3>Placeholder 1</h3>
				<p>Test</p>
			</a>
		</div>
		<div class = "current-chemical-container">
			<img src = "../static/functional-groups/alkanes.png" alt = "Alkanes">
			<h3>Alkanes</h3>
		</div>
		<div class = "products-container">
			<div class = "reaction-container">
				<h3>Placeholder 3</h3>
				<p>Test</p>
			</div>
		</div>
	</div>
</div>

</body>
</html>
